lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
dist
.tmp
.sass-cache
app/bower_components
core-web-frontend.sublime-project
core-web-frontend.sublime-workspace
.idea
