<div class="container">
    <div class="row-fluid">
        <div class="offset3 span6">
            <h1>Login</h1>
            <div class="alert alert-error" ng-show="errors.form">
                <a class="close" data-dismiss="alert">×</a>
                <strong>{{ errors.form }}</strong>
            </div>
            <input type="text" ng-model="username" placeholder="Username" required/>
            <input type="password" ng-model="password" placeholder="Password" required/>
            <button class="btn" ng-click="login()">Log in</button>
            <div>
                <br/>
                <a href="/auth/google?redirect=/kabam" class="btn">Login With Google</a>
            </div>
        </div>
    </div>
</div>
