<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Profile <small ng-show="user.profileComplete"><a href="">Edit</a></small></h1>
        </div>
        <div class="span8" ng-show="authService.user.profileComplete">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="inputEmail">Email</label>
                    <div class="controls">
                        <input type="email" ng-model="user.email" placeholder="Email" id="inputEmail">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputFirstName">First Name</label>
                    <div class="controls">
                        <input type="text" ng-model="user.firstName" placeholder="First Name" id="inputFirstName">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputLastName">Last Name</label>
                    <div class="controls">
                        <input type="text" ng-model="user.lastName" placeholder="Last Name" id="inputLastName">
                    </div>
                </div>
                <div class="control-group" ng-class="{ error: errors.password}">
                    <label class="control-label" for="inputPassword">Current password</label>
                    <div class="controls">
                        <input type="password" ng-model="user.password" placeholder="Password" id="inputPassword">
                        <span class="help-inline" ng-show="errors.password">{{ errors.password }}</span>
                    </div>
                </div>
                <div class="control-group" >
                    <label class="control-label" for="inputPassword1">New password</label>
                    <div class="controls">
                        <input type="password" ng-model="user.newPassword1" placeholder="Password" id="inputPassword1">
                    </div>
                </div>
                <div class="control-group" ng-class="{ error: errors.newPassword2}">
                    <label class="control-label" for="inputPassword2">New password repeat</label>
                    <div class="controls">
                        <input type="password" ng-model="user.newPassword2" placeholder="Password repeat" id="inputPassword2">
                        <span class="help-inline" ng-show="errors.newPassword2">{{ errors.newPassword2 }}</span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn" ng-click="save()">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>