<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Profile <small ng-show="user.profileComplete"><a ui-sref="profileEdit">Edit</a></small></h1>
        </div>
        <div class="span8" ng-hide="authService.user.profileComplete">
            <h1>Please, complete your profile!</h1>
            <p>Set your login and password.</p>
            <p>{{ authService.user.email }}</p>
            <form>
                <div class="control-group">
                    <label class="control-label" for="inputUsername">Username</label>
                    <div class="controls">
                        <input type="text" class="act" id="inputUsername" name="username"
                               pattern="^[a-zA-Z0-9_]{3,32}$" placeholder="Username" ng-model="username"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPasswordLogin">Password</label>
                    <div class="controls">
                        <input type="password" name="password" id="inputPasswordLogin"
                               placeholder="Password" ng-model="password">
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input type="submit" value="Save" class="btn btn-success" ng-click="save()"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="span8" ng-show="authService.user.profileComplete">
            <div>
                <dl>
                    <dt>Email:</dt>
                    <dd>{{ user.email }}</dd>
                    <dt>Username:</dt>
                    <dd>{{ user.username }}</dd>
                    <dt>First Name:</dt>
                    <dd>{{ user.firstName }}</dd>
                    <dt>Last Name:</dt>
                    <dd>{{ user.lastName }}</dd>
                    <dt>Skype:</dt>
                    <dd>{{ user.skype }}</dd>
                </dl>
            </div>
        </div>
        <div class="span4">
            <div class="control-group">
                <div ng-show="user.keychain.github">Github profile attached: {{ user.keychain.github }}</div>
                <div ng-hide="user.keychain.github">
                    <a auth-strategy="github" success-redirect="/profile" class="btn">Attach Github profile</a>
                </div>
            </div>
            <div class="control-group">
                <div ng-show="user.keychain.twitter">Twitter profile attached: {{ user.keychain.twitter }}</div>
                <div ng-hide="user.keychain.twitter">
                    <a auth-strategy="twitter" success-redirect="/profile" class="btn">Attach Twitter profile</a>
                </div>
            </div>
            <div class="control-group">
                <div ng-show="user.keychain.facebook">Facebook profile attached: {{ user.keychain.facebook }}</div>
                <div ng-hide="user.keychain.facebook">
                    <a auth-strategy="facebook" success-redirect="/profile" class="btn">Attach Facebook profile</a>
                </div>
            </div>
        </div>
    </div>
</div>