<!DOCTYPE html>
<html ng-app="CoreFrontend">
<head>
    <title>Kabam</title>
    [[#css]]styles/main.css[[/css]]
</head>
<body>
<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">Kabam</a>
            <ul class="nav">
                <li><a href="#">Log in</a></li>
                <li><a href="#">Sign Up</a></li>
            </ul>
        </div>
    </div>
</div>
[[={{ }}=]]
{{{ yield }}}
{{=[[ ]]=}}
<script type="text/javascript">
    window.CONFIG = {
        signUpURL: '/auth/signup',
        loginURL: '/auth/login',
        logoutURL: '/auth/logout'
    };
    window.USER = [[& user ]];
</script>
[[#js]]kabam/app.js[[/js]]
</body>
</html>