<form class="form-horizontal" action='' method="POST">
  <fieldset>
    <div id="legend">
      <legend>Sign in to MyWebClass</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label" for="username">Username</label>
      <div class="controls">
        <input type="text" ng-model="credentials.username" id="username" name="username" placeholder="" class="input-xlarge" required>
      </div>
    </div>

    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" ng-model="credentials.password" id="password" name="password" placeholder="" class="input-xlarge" required>
      </div>
    </div>

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Sign in</button>
        <button class="btn btn-success">Sign In with Google</button>
      </div>
    </div>
  </fieldset>
</form>